<app-template-full-width [title]='title' *ngIf='collection$ | async as collection'>
  <!-- {{ collection | json }} -->

  <!-- ici placer un tableau -->
  <app-table-light [headers]='headers'>
        <!-- itérer dans collection -->
        <tr *ngFor="let item of collection">
          <td>
            <app-icon-edit (click)='goToEdit(item)'></app-icon-edit>
            <app-icon-delete (click)='deleteItem(item)'></app-icon-delete>
          </td>
          <td>{{item.typePresta | uppercase }}</td>
          <td>{{item.client}}</td>
          <td>{{item.nbJours}}</td>
          <td>{{item.tjmHt}}</td>
          <td>{{item | total | currency}}</td>
          <td>{{item| total : true | currency}}</td>
          <td [appState]='item.state'>
            <select (change)='changeState(item, $event)'>
              <option *ngFor='let state of states' [value]='state' [selected]='state === item.state'>{{state}}</option>
            </select>
          </td>
        </tr>

  </app-table-light>

  <!-- passer une propriete couleur, route, label -->
  <!-- btn btn-primary = bleu -->
  <app-btn
  color='btn btn-primary'
  route='add'
  label='Ajouter une commande'
  ></app-btn>
</app-template-full-width>



